# Archivos de compilación y carpetas target
/target/
/bin/
/out/

# IDEs
/.idea/
/.vscode/
/*.iml

# Logs
*.log

# Dependencias descargadas por Maven
/.mvn/wrapper/maven-wrapper.jar

# Archivos sensibles / locales
application-local.yml
application-prod.yml
application.yml

# Configuración de base de datos, tokens, credenciales
*.env